<section class="section pt-8">
  <% @basket.basket_items.each do |basket_item| %>
    <%= render(basket_item) %>
  <% end %>
</section>

<div class="text-gray-700 text-3xl lg:text-xl mt-16">
  <p>
    <strong>Subtotal:</strong>
    <%= number_to_currency(@basket.subtotal) %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= @basket.discount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @basket.total %>
  </p>
<div>

<div class="text-3xl lg:text-lg my-16 text-gray-400 underline hover:text-gray-700">
  <%= link_to 'Continue Shopping', products_path %>
</div>
