<section class="section p-8">
  <% @basket.basket_items.each do |basket_item| %>
    <div class="xl:container xl:mx-auto flex flex-row rounded-md mb-8 shadow-xl">
      <%= render(basket_item) %>
    </div>
  <% end %>
</section>

<div class="text-gray-700 m-8">
  <p>
    <strong>Subtotal:</strong>
    <%= number_to_currency(@basket.subtotal) %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= @basket.discount %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @basket.total %>
  </p>
<div>

<div class="m-8 text-lg text-gray-400 underline hover:text-gray-700">
  <%= link_to 'Continue Shopping', products_path %>
</div>
