<ul>
  <% @basket.basket_items.each do |basket_item| %>
    <li>
      <%= image_tag(basket_item.unit.product.image, size: "48") %><br>
      <%= basket_item.unit.product.name %><br>
      <%= number_to_currency(basket_item.unit.product.price) %><br>
      <strong>Serial Number: </strong><%= basket_item.unit.serial_number.upcase %><br>
      <strong>Colour: </strong><%= basket_item.unit.product.colour %><br>
      <strong>Size: </strong><%= basket_item.unit.size %><br>
      <strong>Quantity: </strong><%= basket_item.quantity %><br>
      <%= link_to 'Remove Item', remove_from_basket_path(id: basket_item.id), method: :delete, data: { confirm: "Are you sure? " } %><br>
    </li>
  <% end %>
</ul>

<br>

<p>
  <strong>Subtotal:</strong>
  <%= number_to_currency(@basket.subtotal) %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @basket.discount %>
</p>

<p>
  <strong>Total:</strong>
  <%= @basket.total %>
</p>

<br>

<%= link_to 'Continue Shopping', products_path %>
