<section class="section pt-8">
  <% @order.order_items.each do |order_item| %>
    <%= render(order_item) %>
  <% end %>
</section>

<div class="text-gray-700 text-xl mt-16 mb-8">
  <p>
    <strong>Order Number:</strong>
    <%= @order.id %>
  </p>
  <p>
    <strong>Subtotal:</strong>
    <%= number_to_currency(@order.subtotal) %>
  </p>
  <p>
    <strong>Total:</strong>
    <%= number_to_currency(@order.total) %>
  </p>
  <p>
    <strong>Order date:</strong>
    <%= @order.created_at.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <strong>Shipped date:</strong>
    <%= @order.shipped_date.strftime("%d/%m/%Y") %>
  </p>
  <p>
    <strong>Delivered date:</strong>
    <%= @order.delivered_date.strftime("%d/%m/%Y") %>
  </p>
</div>
