<div class="my-8">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: "text-lg" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
        class: "text-lg bg-gray-200 text-gray-700 rounded-sm border-2 border-gray-400 mr-8 py-1"
      %>
    </div>

    <div class="field mt-4 text-lg">
      <%= f.label :password, class: "text-lg" %><br />
      <%= f.password_field :password, autocomplete: "current-password",
        class: "text-lg bg-gray-200 text-gray-700 rounded-sm border-2 border-gray-400 mr-8 py-1"
      %>
    </div>

    <div class="actions">
      <%= f.submit "Log in",
        class: "mt-8 bg-teal-400 hover:bg-teal-600 text-yellow-500 font-bold py-2 px-4 rounded text-lg"
      %>
    </div>
  <% end %>

  <div class="text-base mt-8 underline" >
    <%= render "devise/shared/links" %>
  </div>
</div>
