<div class="grid grid-cols-1 md:grid-cols-2 rounded-md mb-8 shadow-xl px-4 justify-around">
  <div class="mr-6">
    <%= image_tag(order_item.unit.product.image, class: "object-contain", alt: "#{order_item.unit.product.name}") %>
  </div>

  <div class="mt-4 mb-12">
    <div class="mb-8">
      <p class="text-xl text-gray-700"><%= order_item.unit.product.name %></p>
      <p class="text-base text-gray-700"><%= number_to_currency(order_item.unit.product.price) %></p>
    </div>

    <div class="text-sm text-gray-700 text-opacity-75 mb-8">
      <p><strong>Serial Number: </strong><%= order_item.unit.serial_number.upcase %></p>
      <p><strong>Colour: </strong><%= order_item.unit.product.colour %></p>
      <p><strong>Size: </strong><%= order_item.unit.size %></p>
      <p><strong>Quantity: </strong><%= order_item.quantity %></p>
    </div>
  </div>
</div>
