<div class="mt-8 grid grid-cols-2 md:grid-cols-4 w-full">
  <select class="filter text-lg bg-gray-200 text-gray-700 rounded-sm border-2 border-gray-400 mr-8 py-1" name="category">
    <option selected value>category</option>
    <%= options_for_select(@categories, selected: params[:category]) %>
  </select>

  <select class="filter text-lg bg-gray-200 text-gray-700 rounded-sm border-2 border-gray-400 mr-8 py-1" name="style">
    <option selected value>style</option>
    <%= options_for_select(@styles, selected: params[:style]) %>
  </select>

  <select class="filter text-lg bg-gray-200 text-gray-700 rounded-sm border-2 border-gray-400 mr-8 mt-4 md:mt-0 py-1" name="colour">
    <option selected value>colour</option>
    <%= options_for_select(@colours, selected: params[:colour]) %>
  </select>

  <button class="text-lg bg-gray-200 border-2 border-gray-400 hover:bg-gray-400 text-gray-700 rounded-sm mr-8 mt-4 md:mt-0">
    <%= link_to 'clear', '/products' %>
  </button>
</div>

<section class="grid gap-6 grid-cols-2 md:grid-cols-4 mt-8">
  <% @products.each do |product| %>
      <%= render(product) %>
  <% end %>
</section>
