<p id="notice"><%= notice %></p>

<%= link_to 'See Basket', basket_path %>

<h1>Products</h1>

<select class="filter" name="category">
  <option selected value> -- select category -- </option>
  <%= options_for_select(@categories, selected: params[:category]) %>
</select>

<select class="filter" name="style">
  <option selected value> -- select style -- </option>
  <%= options_for_select(@styles, selected: params[:style]) %>
</select>

<select class="filter" name="colour">
  <option selected value> -- select colour -- </option>
  <%= options_for_select(@colours, selected: params[:colour]) %>
</select>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Style</th>
      <th>Name</th>
      <th>Description</th>
      <th>Colour</th>
      <th>Price</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.category %></td>
        <td><%= product.style %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.colour %></td>
        <td><%= product.price %></td>
        <td><%= image_tag(product.image, size: "48") %></td>
        <td><%= link_to 'Show', product %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
