<%= link_to 'See Basket', basket_path %>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Style:</strong>
  <%= @product.style %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Colour</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price</strong>
  <%= @product.price %>
</p>

<%= image_tag(@product.image, size: "400") %>

<% @variations.each do |variant| %>
  <%= link_to variant.colour, product_path(variant), style: "color: #{variant.colour}" %>
<% end %>

<select class="filter" name="size">
  <option disabled selected value> -- select size -- </option>
  <%= options_for_select(@sizes, selected: @selected_size.size) %>
</select>

<% if @selected_size.quantity == 0 %>
  <%= "Out of Stock" %>
<% else %>
  <%= "In stock" %>
<% end %>

<%= button_to 'Add to basket', add_to_basket_path(unit_id: @selected_size) %>

<%= link_to 'Back', products_path %>
