<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @product.category %>
</p>

<p>
  <strong>Style:</strong>
  <%= @product.style %>
</p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Colour</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price</strong>
  <%= @product.price %>
</p>

<%= image_tag(@product.image, size: "400") %>

<% @variations.each do |variant| %>
  <%= link_to variant.colour, product_path(variant), style: "color: #{variant.colour}" %>
<% end %>

<select class="filter" name="size">
  <option disabled selected value> -- select size -- </option>
  <%= options_for_select(@sizes, selected: params[:size]) %>
</select>

<%= link_to 'Back', products_path %>
