<%= image_tag(@product.image, size: "400") %>

<% @variations.each do |variant| %>
  <%= link_to variant.colour, product_path(variant), style: "color: #{variant.colour}" %>
<% end %>

<br>

<%= @product.name %><br>
<%= "#{@product.category} #{@product.style} #{@product.colour}" %><br>
<%= number_to_currency(@product.price) %><br>

<select class="filter" name="size">
  <option disabled selected value> -- select size -- </option>
  <%= options_for_select(@sizes, selected: @selected_size.size) %>
</select>

<% if @selected_size.quantity == 0 %>
  <%= "Out of Stock" %>
<% else %>
  <%= "In stock" %>
<% end %>

<%= button_to 'Add to basket', add_to_basket_path(unit_id: @selected_size), disabled: @selected_size.quantity == 0 %>

<%= @product.description %><br>

<%= link_to 'Back', products_path %>
