<!DOCTYPE html>
<html>
  <head>
    <title>Golden Shoe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="sticky top-0 bg-teal-500 w-full pb-0">
      <nav class="flex justify-between text-yellow-500 align-middle">
        <h1 class="text-6xl lg:text-4xl hover:text-yellow-600 active:text-yellow-600 font-extrabold lg:my-1 pl-4 lg:pl-10">
          <%= link_to 'Golden Shoe', root_path %>
        </h1>
        <h1 class="material-icons text-6xl lg:text-4xl hover:text-yellow-600 active:text-yellow-600 mt-4 mr-4" >
          <%= link_to 'shopping_cart', basket_path %>
        </h1>
      </nav>
      <div class="bg-teal-200 py-1">
        <h2 class="text-base lg:text-sm text-gray-700 text-center">
          Free shipping and returns on all orders
        </h2>
      </div>
    </div>

    <div class="mx-auto px-4 md:px-8 w-11/12">
      <% if notice %>
        <p class="bg-green-200 border-green-700 text-green-700 rounded-md mt-4 p-4 text-lg"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="bg-red-200 border-red-700 text-red-700 rounded-md mt-4 p-4 text-lg"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <footer class="bg-teal-500 text-gray-700 pl-4 lg:pl-10 py-2 lg:py-4 flex flex-row w-full">
      <div class="mr-4">Delivery & Returns</div>
      <div class="mr-4">My Account</div>
      <div class="mr-4">Contact</div>
    </footer>
  </body>
</html>
