<!DOCTYPE html>
<html>
  <head>
    <title>Golden Shoe</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="sticky top-0 bg-teal-500 w-full pb-0">
      <nav class="flex justify-between">
        <div class="">
          <h1 class="text-3xl text-yellow-500 hover:text-yellow-600 active:text-yellow-600 font-extrabold md:my-1 pl-2 md:pl-6">
            <%= link_to 'Golden Shoe', root_path %>
          </h1>
        </div>
        <div class="pt-3 md:pt-4 pr-2 md:pr-6">
          <%= link_to "Mens", "/products/?category=mens", class: "text-gray-700 text-base hover:text-yellow-600 active:text-yellow-600 mr-2 md:mr-12" %>
          <%= link_to "Womens", "/products/?category=womens", class: "text-gray-700 text-base hover:text-yellow-600 active:text-yellow-600 mr-2 md:mr-12" %>
          <h1 class="text-yellow-500 material-icons text-xl hover:text-yellow-600 active:text-yellow-600" >
            <%= link_to 'shopping_cart', basket_path %>
          </h1>
        </div>
      </nav>
      <div class="bg-teal-200 py-1">
        <h2 class="text-sm text-gray-700 text-center">
          Free shipping and returns on all orders
        </h2>
      </div>
    </div>

    <div class="mx-auto px-4 md:px-8 w-11/12">
      <% if notice %>
        <p class="bg-green-200 border-green-700 text-green-700 rounded-md mt-4 p-2 text-lg"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="bg-red-200 border-red-700 text-red-700 rounded-md mt-4 p-2 text-lg"><%= alert %></p>
      <% end %>

      <%= yield %>
    </div>

    <footer class="bg-teal-500 text-gray-700 pl-4 py-2 flex flex-row w-full text-base">
      <div class="mr-6">Delivery & Returns</div>
      <div class="mr-6">My Account</div>
      <div class="mr-6">Contact</div>
    </footer>
  </body>
</html>
