<!DOCTYPE html>
<html>
  <head>
    <title>Golden Shoe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body>
    <div class="sticky top-0 bg-teal-500 w-full pb-0">
      <nav class="flex justify-between text-yellow-500 align-middle">
        <h1 class="text-6xl lg:text-4xl hover:text-yellow-600 active:text-yellow-600 font-extrabold lg:my-1 pl-4 lg:pl-10">
          <%= link_to 'Golden Shoe', root_path %>
        </h1>
        <div class="flex flex-row justify-around">
          <%= link_to "Mens", "/products/?category=mens", class: "text-xl md:text-2xl hover:text-yellow-600 active:text-yellow-600 my-auto mr-4" %>
          <%= link_to "Womens", "/products/?category=womens", class: "text-xl md:text-2xl hover:text-yellow-600 active:text-yellow-600 my-auto mr-4" %>
          <h1 class="material-icons text-6xl lg:text-4xl hover:text-yellow-600 active:text-yellow-600 mt-4 mr-4" >
            <%= link_to 'shopping_cart', basket_path %>
          </h1>
        </div>
      </nav>

      <div class="bg-teal-200 py-1">
        <h2 class="text-lg lg:text-base text-gray-700 text-center">
          Free shipping and returns on all orders
        </h2>
      </div>
    </div>

    <div class="">
      <%= yield %>
    </div>

    <footer class="bg-teal-500 text-gray-700 pl-4 lg:pl-10 py-2 lg:py-4 flex flex-row w-full">
      <div class="mr-4">Delivery & Returns</div>
      <div class="mr-4">My Account</div>
      <div class="mr-4">Contact</div>
    </footer>
  </body>
</html>
